@font-face{
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Roboto Condensed";
    src: url("fonts/RobotoCondensed-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box !important;
}



body{
    
    
    overflow-y: scroll;
}


#container{
    width: 100%;
    margin: auto;
    background-color: #101010;
}

#primero{
    
    width: 100%;              
    height: 680px;
    text-align: center;
    background-image: url("../img/54741201.png");
}

#neri{   
    width:100%;
    height: 121px;      
    margin: 0 auto;       
  
   
}

#fotoNeri{
    margin-top: 25px;
}

#menu{   
    width: 100%;
    height: 26px;
    margin-top: 35px;
    
}

#enlace1{
    border-right: 4px solid white;
    padding-right: 20px;
}

#enlace2{
    border-right: 4px solid white;
    padding-right: 20px;
}

#enlace3{
    border-right: 4px solid white;
    padding-right: 20px;
}

#menu ul li {
    display: inline-block;
    list-style: none;
    margin: 0 8px;
    
}
#menu ul  {
  align-items: center;
}

#menu ul li a{
    
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    
}

#menu ul li a:hover{      
    color:#37bcf9;
    transition: all 500ms;      
}

#textoDivPrimero{
    margin-top:60px;
}

#textoPrimero{
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 97px;
    text-align: center;
    letter-spacing: 0.055em;

    color: #FFFFFF;

    text-shadow: 0px 7px 6px #000000;
}

hr{
    margin: 10px 350px;    
}

#cajaDivPrimero{
    background: #FFFFFF;
    border-radius: 20px;
    width: 30%;   
    padding: 8px;
   
    margin: auto;
    margin-top: 50px;
}

#textoCajaDivPrimero{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 0px;
    color: #101010;
}

#segundo{
    display: block;
    width: 100%;
    margin-top: 50px;
    height: 350px;
    background-color:  #101010;
}

#segundo h2{
    
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 105px;
    padding: 10px;
    text-align: center;
    letter-spacing: 0.08em;       
    color: #FFFFFF;
    margin-bottom: 0px;
}

#segundo p{
    float: right;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
    margin: 14px 150px 40px 150px;
}

#tercero{
    width: 100%;
    background-color:  white;
}

#tercero h2{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 105px;
    text-align: center;
    letter-spacing: 0.08em;
    padding: 10px 0;
    color: #101010;
    margin-bottom: 0px;
}

#slider{    
    width: 100%;
    
}
   
.carousel-inner{
    text-align: center;
    margin: 20px 0;
}



/*#slider img{
    display: block;
   width: 100%;
   height: 100%;
}*/

#cuarto{
    width: 100%;
    background-image: url("../img/image2.png");
    height: 471px;
    
}

#cuarto div{
    float: right;
    width: 40%;    
    margin-top: 50px;
    margin-right: 100px;
    
    
}

#cuarto h2{    
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 82px;
    padding-top: 50px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    margin-bottom: 0px;
}

#cuarto p{
    
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 0px;
    color: #FFFFFF;

}

#quinto{
    
    width: 100%;
    background-color:#101010;
    height: 120px;
}

#quinto h2{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.08em;
    padding-top: 10px;
    color: #FFFFFF;

}

#footer{
    width: 100%;
    background-image: url("../img/image5.png");
    height: 480px;
    overflow: hidden;
}

#footer article{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    width: 50%;
    margin: 0 auto;
    padding-top: 15px;
}

#footer #wrap > div{
    float: left;
    width: 410px;
    margin: 40px 150px ;
    margin-bottom: 10px;
    
}

#footer iframe{
    width: 100%;
   
    margin-top: 10px;
    border-radius: 5px;
    border:5px solid white;
    box-shadow: 0px 0px 5px gray;

}

#footer h5{
    display: block;
    background-color: black;
    height: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-family: "BebasNeue";
    font-size: 40px;
    line-height: 55px;
    color: white;
    border-radius: 5px;
}

#contacto p{
    font-family: Roboto Condensed;
font-style: italic;
font-weight: bold;
font-size: 27px;
line-height: 32px;
letter-spacing: 0.035em;

color: #FFFFFF;
}

#contacto p img{
    margin-top:20px;
    margin-left: 10px;
    vertical-align: baseline;
    margin-right: 5px;
}

#copy{    
        width: 100%;
        background-color: #333333;
        text-align: center;
        margin:0px auto;
        color:rgb(211, 209, 209);
        padding-top: 10px;
        padding-bottom: 10px;
        height: 40px;       
        font-family: sans-serif;
        font-size: 14px;
        box-shadow: 0px 0px 4px gray;
        line-height: 40px;
    
}

/*@media(max-width:1452px){
    #footer article {
        font-size: 20px;
    }

    #cuarto p{
        font-size:25px;
        margin-top: 30px;
    }

}*/

@media(max-width:450px){
    #primero{        
        background-repeat: no-repeat;   
        background-size: 136% 90%;
        height: 380px;
        }
        #neri{
            height: 25px;
        }
        #neri img{
            width: 180px;
            margin-top: 15px;
        }
      
        #menu ul li{
            margin: 0 2px;
        }
    
        #menu ul li a{
            font-size: 11px;
            padding-right: 8px;
           
        }

        #textoDivPrimero{
            margin-top:30px;
        }
    
        #textoPrimero{
            font-size: 30px;
            line-height: 46px;
        }    
    
        #cajaDivPrimero{
            width: 35%;
            margin-top: 50px;
            padding:3px;
            border-radius: 12px;
        }
        #textoCajaDivPrimero{
            font-size: 12px;
            line-height: 15px;
        }
    
        #segundo{
            height: 210px;
            margin-top:0px;
        }
    
        #segundo h2{
            font-size: 38px;
            line-height: 35px;
        }
    
        #segundo p{
            font-size: 13px;
            line-height: 19px;
            margin: 20px 32px 0px 32px;
            padding: 0px;
        }
    
        #tercero h2{
            font-size: 38px;
            line-height: 50px;
        }
    
        .imagen{
            width: 150px;
        }
    
        #cuarto{
           height: 313px;
        background-size: 111% 100%;
        }
    
        #cuarto div{
            width: 42%;
            margin-top: 20px;
            margin-right: 25px;
    
        }
    
        #cuarto h2{
            font-size: 33px;
            padding-top: 20px;
            line-height: 40px;
        }
    
        #cuarto p{
            font-size: 13px;
            line-height: 17px;
        }
    
        #quinto{        
            height: 80px;
        }
    
        #quinto h2{
            font-size: 29px;
            line-height: 62px;
    
        }
    
        #footer{
            height: 290px;
            background-size: 142% 100%;
        }
    
        #footer article{
            width: 80%;
            padding-top:8px;
            font-size: 12px;
            line-height: 19px;
        }
        #footer #wrap > div{
            width: 44%;
            margin:0px 11px;
            
        }
        #wrap h5{
            font-size: 20px;
            height: 34px;
            line-height: 40px;
        }
        #contacto p img{
            width: 13px;
        }
        #contacto p{
            font-size: 11px;
            line-height: 0px;
        }

        #location iframe{
            height: 147px;
        }
    
        #copy {
            font-size: 7px;
            line-height: 15px;
            height: 15px;
        }
       
}

/*@media(max-width:720px){

    #primero{        
    background-repeat: no-repeat;   
    background-size: 100% 100%;
    height: 380px;
    }
    #neri{
        height: 40px;
    }
    #neri img{
        width: 220px;
        margin-top: 15px;
    }

    #menu ul li a{
        font-size: 17px;
    }
    #textoDivPrimero{
        margin-top:15px;
    }

    #textoPrimero{
        font-size: 44px;
        line-height: 61px;
    }    

    #cajaDivPrimero{
        width: 30%;
        margin-top: 28px;
        padding: 6px;
        border-radius: 12px;
    }
    #textoCajaDivPrimero{
        font-size: 17px;
        line-height: 17px;
    }

    #segundo{
        height: 352px;
        margin-top: 30px;
    }

    #segundo h2{
        font-size: 66px;
        line-height: 100px;
    }

    #segundo p{
        font-size: 24px;
        line-height: 27px;
        margin: 0px 50px 0px 50px;
    }

    #tercero h2{
        font-size: 66px;
        line-height: 87px;
    }

    .imagen{
        width: 300px;
    }

    #cuarto{
        background-repeat: no-repeat;   
    background-size: 111% 100%;
    }

    #cuarto div{
        width: 42%;
        margin-top: 35px;
        margin-right: 38px;

    }

    #cuarto h2{
        font-size: 46px;
        padding-top: 20px;
        line-height: 55px;
    }

    #cuarto p{
        font-size: 20px;
        line-height: 25px;
    }

    #quinto{        
        height: 110px;
    }

    #quinto h2{
        font-size: 50px;
        line-height: 90px;

    }

    #footer{
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #footer article{
        width: 81%;
        font-size: 20px;
        line-height: 27px;
    }
    #footer #wrap > div{
        width: 38%;
        margin:26px 40px;
    }
    #wrap h5{
        font-size: 30px;
    }
    #contacto p{
        font-size: 16px;
    }

    #copy {
        font-size: 11px;
        line-height: 33px;
    }*
   
    
}